{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h1>{{ title }}</h1>

<h4>Comments ({{ comments | length }})</h4>
<ul>
    {% for item in comments %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>
{% endblock %}
